<!doctype html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    </head>
    <body>
        <%= render @view_module, @view_template, assigns %>

        <%= render_gon_script(@conn) %>
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
