.st0{fill:#ff4d4d;stroke:#ff4d4d;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.tag:not(body).is-xlarge {
    font-size: 3rem;
}


.myicon {
    height: 2em;
    width: 2em;
}

#online_guests {
}

#total_clicks {
}
