.st0{fill:#ff4d4d;stroke:#ff4d4d;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.background-heart {
    position: absolute;
    width: 2em;
    height: 2em;
    -moz-transition: all 10s linear;
    -webkit-transition: all 10s linear;
    -ms-transition: all 10s linear;
    -o-transition: all 10s linear;
    transition: all 10s linear;
}

.background-heart.background-heart-done {
}

.title.is-xlarge {
    font-size: 5rem;
}

.title.is-large {
    font-size: 2rem;
}

.myicon {
    height: 2em;
    width: 2em;
}

#online_guests {
}

#total_clicks {
}


.pos {
    width: 1em;
    height: 1em;
    overflow: hidden;
    line-height: 1em;
    display: inline-block;
}

.small-pos > .pos {
    width: .6em;
    height: 1em;
    overflow: hidden;
    line-height: 1em;
    display: inline-block;
}

.total-clicks .digit {
    color: #ff3860;
}

.digit {
    position: relative;
}

.animate {
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s;  
    -ms-transition: all 0.5s;  
    -o-transition: all 0.5s;  
    transition: all 0.5s;  
}
